html, body {
  margin:0px;
  padding:0px;
  font-family:Arial,Tahoma,Geneva,san-serif;
  color:#7B7B7B;
}

a {
  text-decoration:none;
}

header {
  height:100px;
  width:100%;
  background-color:#54A97E;
  color:#FFF;
  font-size:24px;
  line-height:100px;
  padding-left:50px;
  padding-right:50px;
  position:fixed;
  font-weight:bold;
  box-sizing:border-box;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  box-shadow:5px 5px 20px #777777;
  z-index:999;
}
header div.title {
  display:inline-block;
  cursor:pointer;
}
header div.title a {
  color:inherit;
}
header div.title:hover {
  color:#616161;
}

header div.title .logotext {
  display:inline-block;
  font-size:16px;
  line-height:16px;
  height:44px;
  margin-left:5px;
  vertical-align:middle;
}
header div.menu {
  float:right;
  display:inline-block;
}
header div.menu ul {
  list-style:none;
  margin:0px;
  padding:0px;
}
header div.menu li {
  display:inline-block;
  width:100px;
  text-align:center;
}


header div.menu li a {
  color:#F0F0F0;
}
header div.menu li a:hover {
  color:#616161;
}

.frame {
  height:100vh;
  width:100%;
}

.frame main {
  padding:50px;
  padding-top:150px;
  text-align:center;
}

#installButton {
  border:2px solid #0BA1C3;
  padding:50px;
  border-radius:5px;
  font-size:24px;
  text-decoration:none;
  
  box-shadow: 1px 1px 5px #888888;
  background-color:#0BA1C3;
  color:#F0F0F0;
}
#installButton:hover {
  color:#0BA1C3;
  background-color:#CCFFCC;
}

a#submitLink {
  color:#54A97E;
}
a#submitLink:hover {
  color:#F0F0F0;
}

#submitLinkButton {
  border: none;
  font-size:14px !important;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 1px 1px 5px #888888;
  background-color: #0BA1C3;
  color: #F0F0F0;
  font-weight:normal;
  padding:5px;
  border:2px solid #0BA1C3;
  vertical-align:middle;
}

#submitLinkButton:hover {
  color:#FFF;
}
.formLabel {
  font-size:24px;
  vertical-align:middle;
  font-weight:bold;
}
#howframe main {
  color:#6B6B6B;
  font-size:36px;
  line-height:36px;
}
#howframe main input {
  height:24px;
  vertical-align:middle;
  background-color:#F5F5F5;
  padding:3px;
  letter-spacing:1px;
  width:300px;
  border:1px solid #333;
  border-radius:4px;
}

.owl-carousel {
  width:502px;
  margin:0 auto;
  margin-top:50px;
}
.owl-carousel .item {
  
}
.owl-carousel .item img {
  width:500px;
  border:1px solid gray;
  border-radius:30px;
  overflow:hidden;
}

.ui-widget-header {
  background:#0BA1C3;
  border:none;
  min-height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

table.dataTable thead th div.DataTables_sort_wrapper {
  text-align:left;
}
table.dataTable tbody th, table.dataTable tbody td {
  text-align:left;
}
.dataTables_wrapper .dataTables_info { 
  padding-top:0px;
}

